<div class="container">
  <form class="start-game" *ngIf="!currentGame.status">
    <mat-form-field appearance="fill">
      <input matInput type="text" placeholder="Insert your name" [formControl]="playerName">
    </mat-form-field>
    <button type="button" mat-raised-button [disabled]="!playerName.value" (click)="startGame()" (keyup.enter)="startGame()">Start the Game</button>
  </form>
  
  <div *ngIf="currentGame.status && currentGame.status == gameStatus.STARTED">
    
    <div class="score-board">
      <span id="user-score">score: {{currentGame.playerScore}} </span>
      <button type="button" mat-raised-button (click)="endGame()">End the Game</button>
    </div>
    
    <div class="choices">
      <div class="choice" id="rock">
        <img src="../assets/images/rock.png" (click)="playRound(possibleChoices.ROCK)">
      </div>
      <div class="choice" id="paper">
        <img src="../assets/images/paper.png" (click)="playRound(possibleChoices.PAPER)">
      </div>
      <div class="choice" id="scissors">
        <img src="../assets/images/scissors.png" (click)="playRound(possibleChoices.SCISSOR)">
      </div>
    </div>
  </div>
  
  <div class="result">
    <p *ngIf="showResult">Your {{currentRound.playerChoice}} against the computer's {{currentRound.computerChoice}}: {{currentRound.playerResult}} </p>
    <p *ngIf="currentGame.status == gameStatus.FINISHED">{{currentGame.playerName}}: Game is over. Final score : {{currentGame.playerScore}} </p>
  </div>
</div>