*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(17, 47, 196);
}
header{
  background: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
